  <div class="card" style="width: 18rem;">
    <img src="/apple-touch-icon.png" class="card-img-top rounded-circle" alt="Picture">
    <div class="card-body">
      <h5 class="card-title">ArunKumar M</h5>
      <p class="card-text">Thinker + Learner of Electronics, AgriCulture, Chemistry with following skillset</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Linux</li>
      <li class="list-group-item">CPP</li>
      <li class="list-group-item">Python</li>
    </ul>
    <div class="card-body">
      <a href="mailto:arun.electrosoft@gmail.com" class="card-link">Email</a>
      <a href="http://www.linkedin.com/in/arunadventure" class="card-link">LinkedIn</a>
    </div>
  </div>