  <div class="card" style="width: auto;">
    <img src="{{ site.baseurl }}/apple-touch-icon.png" class="card-img-top rounded-circle mx-auto d-block" style="max-width: 14rem" alt="Picture">
    <div class="card-body">
      <h5 class="card-title">ArunKumar M</h5>
      <p class="card-text"> Embedded Engineer + Linux Lover + Sustainable Product Design</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Linux</li>
      <li class="list-group-item">CPP</li>
      <li class="list-group-item">Python</li>
    </ul>
    <div class="card-body">
      <ul class="list-group list-group-flush"></ul>
      <li> <a href="mailto:arun.electrosoft@gmail.com" class="card-link">Email</a> </li>
      <li> <a href="http://www.linkedin.com/in/arunadventure" class="card-link">LinkedIn</a> </li>
      <li> <a href="https://stackexchange.com/users/27568666/arunkumar-muruganasamy" class="card-link">Stack Exchange</a> </li>
      <li> <a href="https://github.com/arunelectrosoft" class="card-link">GitHub</a> </li>
    </ul>
    </div>
  </div>