<div class="card-deck p-3">
{% for collection_variable in site.collections | reversed %}
    {% for node in collection_variable.docs %}
    {% assign image_source_length =  node.imgsrc | size  %}
              <div class="card p-3 m-2" >
              {% if image_source_length  > 0 %}
               <div class="card-img-top w-100">
                  <img src="{{ site.baseurl }}/assets/images/{{ node.imgsrc }}" style="max-width: 100%; height:auto">
               </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title b5 h4-sm"><a href="{{ site.baseurl }}{{ node.url }}"> {{ node.title }} </a></h5>
                    <p class="card-text">  {{ node.excerpt }}  </p>
                </div>
                </div>
    {% endfor %}
{% endfor %}
</div>