<!DOCTYPE html>
<html>
<head> 
 {%- include head.html -%}
</head>
<body>
<div class="col mb-4">
  <div class="card bg-light   text-white p-1">
      {% assign image_source_length =  page.imgsrc | size  %}
      {% if image_source_length  > 0 %}
        <img class="card-img" src="{{ site.baseurl }}/assets/images/{{ page.imgsrc }}" style="max-width: 100%; height:auto" alt="{{ node.title }}">
        <div class="card-img-overlay text-center">
        <h6 class="card-title"><a href="{{ site.baseurl }}{{ node.url }}" class="link-light">{{ node.title }}</a></h6>
        </div>
      {% endif %}
</div>
    <div clss="container-fluid mx-auto" >
        <div class="col-xs-12 col-sm-12 col-md-9 p-4">
            <h1 text-center>   {{ page.title }}  </h1>
            <h1 </br> </h1>
            {{page.content}}
        </div>
    </div>
 {%- include footer.html -%}
</body>
</html>