<!DOCTYPE html>
<html>
<head>
 {%- include head.html -%}
</head>
    <body>
    <p class="font-weight-bold"> {{ page.topic | escape }} </p>  
    <div class="w-75 p-3" style="background-color: #eee;" >
    <table class="table table-hover table-sm">
            <thead class="thead-light">
              <tr>
                <th>Topics </th>
              </tr>
            </thead>
            <tbody>
                    {% assign collection = site.collections | where: "label",page.topic | first %}
                    {% for node in collection.docs reversed %}
                    <tr>
                        <td> <a href="{{ site.baseurl }}{{ node.url }}"> {{ node.title }} </a> </td>
                    </tr>
                    {% endfor %}       
            </tbody>
    </div>
    {%- include footer.html -%}
    </body>
</html>
 