<!DOCTYPE html>
<html>
 {%- include head.html -%}
    <body>
    <p class="font-weight-bold"> {{ page.topic | escape }} </p>  
    <div class="containerd" >
    <table class="table table-hover table-sm">
            <thead class="thead-light">
              <tr>
                <th>Topics </th>
              </tr>
            </thead>
            <tbody>
                {%  for posts in site.DigitalLibrary %}
                    {% if posts.collection == page.topic %}
                    <tr>
                        <td>   <a href="{{ site.baseurl }}{{ posts.url }}"> {{ posts.title }} </a> </td>
                    </tr>
                    {% endif %}
                {% endfor %} 
                {%  for posts in site.Electronics %}
                    {% if posts.collection == page.topic %}
                    <tr>
                        <td>   <a href="{{ site.baseurl }}{{ posts.url }}"> {{ posts.title }} </a> </td>
                    </tr>
                    {% endif %}
                {% endfor %} 
                {%  for posts in site.GeneralTopics %}
                    {% if posts.collection == page.topic %}
                    <tr>
                        <td>   <a href="{{ site.baseurl }}{{ posts.url }}"> {{ posts.title }} </a> </td>
                    </tr>
                    {% endif %}
                {% endfor %} 
                {%  for posts in site.Projects %}
                    {% if posts.collection == page.topic %}
                    <tr>
                        <td>   <a href="{{ site.baseurl }}{{ posts.url }}"> {{ posts.title }} </a> </td>
                    </tr>
                    {% endif %}
                {% endfor %} 
                {%  for posts in site.Software %}
                    {% if posts.collection == page.topic %}
                    <tr>
                        <td>   <a href="{{ site.baseurl }}{{ posts.url }}"> {{ posts.title }} </a> </td>
                    </tr>
                    {% endif %}
                {% endfor %}             
            </tbody>
    </div>
    {%- include footer.html -%}
    </body>
</html>
 